/pdata.txt
/pdataw.txt

# Unity stuff
/ProjectSettings/
/Library/
/Logs/
/obj/
/Temp/
*.meta

# Visual studio
/.vs/
*.sln
*.userprefs
*.csproj

# Sound
/Assets/Sounds/
*.mp3
*.ogg

# Graphics/Visuals
/Assets/Sprites/
/Concept/
*.png

# Builds
/Demo/
*.apk